
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.content-wrapper {
  outline: 3px dotted red;
 }

/*  Base Header - Footer Styles */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 90%;
  padding: 15px 0;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 95%;
  margin: 0;
  padding: 15px 0 15px 0;
}

header .content-wrapper img {
  margin: 0;
}

header .header-divider {
  width: 90%;
  height: 10px;
  

}

header nav {
  width: 60%;
  margin: 25px 0;
  padding: 20px 0 15px 0;
 }

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 75%;
  margin: 0;
}

header nav ul li {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 5px 10px 5px 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

footer .content-wrapper {
  width: 55%;
  margin: 50px 0;

}

footer h4 { 
  padding: 20px 0 20px 0;
  margin: 0;
}

footer p {
  margin: 0;
  padding-bottom: 50px;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons h4 {
  justify-content: center;
  margin: 0;
  padding: 20px 0 20px 0;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

footer .copyright {
  margin: 0;
  padding: 20px 0 20px 0;
}

/* --------------------Mobile Styles - Homepage -------------*/

/* HERO AREA */
.hero-area {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 500px;
}

main .content-wrapper {
  width: 95%;
}

/* ASIDE */

aside {
  display: flex;
  justify-content: center;
  width: 90%;

}

/* features */

.features {
  display: flex;
  justify-content: center;
  width: 90%;
}

.features .content-wrapper {
  width: 90%;
} 
 
.features h2 {
  margin: 0;
}



.features .feature-items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.features article {
  width: 63%;

}
.features .feature-items-description {
  margin: 0;
}

/*---- reviews ------*/

.reviews {
  display: flex;
  justify-content: center;
  width: 90%;
}

.reviews .content-wrapper {
  width: 90%;
}

.reviews h3 {
  width: 55%;

}
/*========ABOUT PAGE ================*/

.mission {
  display: flex;
  justify-content: center;
}

.contact-section {
  display: flex;
  justify-content: center;
}


/*==========  FAQ page============*/

.faq {
  display: flex;
  justify-content: center;

}

.faq .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 90%;
}


/*---------------end of mobile styles----------*/

