/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/* !!!AUTHORS CODE STARTS ON LINE 95!!!! MARGARET FERRY
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 16px;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*==The reason you want to add your global styles at the top of the 
stylesheet is that if you need to, you can override them further
 down in the document. For example, you may need to specify that
  headers that are linked are not the same color as body text 
  that is linked.*/

/* GLOBAL STYLES */

html {
  font-size: 16px; 
                  /*lesson 11 step 1 told to use 16px*/
  
}
/*Wondering why you should write this style for the
 <body> tag and not the <p> tags? To explain: it’s a
  good idea to put the font-family on the ultimate parent
   tag just in case you have text in <ul> or <li> elements.
    Not everything goes inside a <p> tag, after all.*/

body { /*correct in sol. code*/
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #e2e3ed; /*default background color*/
  text-align: left;
}

ul,
ol {
  list-style-type: none; /*correct in sol. code*correct*/
  margin: 0;
  padding: 0;
}

a {
  color: #e2e3ed; /*correct in sol code*/
  text-decoration: none;
}

h2 {
  font-family: 'Poppins', sans-serif; /*correct in sol code*/
  font-size: 1.875em;
  font-weight: 600;
  margin: 0;
}

h3,
h4 {
  font-family: 'Poppins', sans-serif; /*correct in sol code*/
  margin: 20px 0;
  font-size: 1.125em;
  font-weight: 500;
}

p {
  font-size: .875em; /*correct in sol code*/
  line-height: 1.285;
}

img {    /*correct in sol code*/
  width: 100%;  /*video step 1 lesson 12 responsive images*/
}

figure {  /*correct in sol code*/
  margin: 0; /*correct*/
}

address {   /*correct in sol code*/
  font-style: normal; /*correct*/

}

.content-wrapper {  /*correct*/ /*correct in sol code*/
  width: 90%;
  margin: 50px 0;

}

/*  Base Header - Footer Styles for all devices unless over written */

header {   /*this all correct in sol code */
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: #202322;

}

header .content-wrapper { /*correct Mobile styles correct in sol code*/
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header figure {   /*correct in sol code*/
  width: 60%;
}


.header-divider {   /*correct in sol code*/
  width: 100%; 
  height: 1px;  
  margin: 10px 0 20px 0;  
  background: #3a3a3a;

}

header nav {    /*correct in sol code*/
  width: 60%;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
 }

header nav ul {    /*correct in sol. code*/
  width: 100%;
  display: flex;
  justify-content: space-around;
 
}

header nav ul li {  /*correct in sol code*/
  font-size: 1.125em;
  
}

footer {   /*correct in sol code*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #202322;
  
}

footer p {   /*correct in sol code*/
  margin: 0;  /* correct */
}

footer .content-wrapper {  /*correct in sol code*/
  width: 55%;
}

footer .contact {   /* correct in sol code*/
  margin-bottom: 50px;
}

footer .social-icons { /*correct /*correct in sol code*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}


footer .social-icons p { /*correct in sol code*/
  background-color: #184718;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-icons p i {  /*correct in sol code*/
  font-size: 1.3125em;
}



footer .copyright {  /*correct in sol code*/
  margin: 20px 0;
 
}

/* --==--Mobile Styles - Homepage ===============*/


/* HERO AREA correct */

.hero-area  {
  background-image: url('../img/unplugged-retreat.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 31.25em; /*make em*/
  display: flex;
  justify-content: center;
}

.hero-area h1 {
  font-size: 2.25em;
  line-height: 1.2;
  font-weight: 600;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

/* ASIDE correct mobile*/

aside {
  display: flex;
  justify-content: center;
  background-color: #527158;
}
          /*correct up to this point in solution*/
/* form-description===*/
aside .form-description h3 {
  font-size: 1.125em;
  font-weight: 500;
}

aside .form-description p { /*mobile*/
  font-size: .875em;
  line-height: 1.125em;

}

/* this is for aside form*/
aside .form {
  margin-top: 30px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
  
}

/*done*/

/* features */

.features {   /*correct*/
  background-image: url('../img/unplugged-retreat-features.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  
}

.features h2 {    /*correct*/
  margin-bottom: 3.75em;
  font-size: 1.875em;
  font-weight: 500;
}

.features article {  /*correct*/
  width: 63%;
  margin: 1.875em 0;
}

 .features-items {   /*correct*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  
}

.features p {  /*correct*/
  text-align: center;
  margin: 0;
}

article .fontawesome-icons {
  font-size: 3.75em; 
 /*style sheet don't know if font-size is correct term*/
} 

article .features-items-description {
  justify-content: center;
  padding-top: 15px;

}


/*---- reviews ------*/

.reviews {    /*correct*/
  background-color: #2a423a;
  display: flex;
  justify-content: center;
  color: white; /* not in solution code*/
  padding-bottom: 20px;  /* not in solution code*/
  
}

.reviews h2 {    /*correct*/
 font-size: 1.7; /*not in solution code*/
 line-height: 1;
 margin-bottom: 40px;  
}
 
.reviews h3 {     /*correct*/
  width: 64%; /*55% in solution code*/
  margin: 20px 0;
}

.reviews p {
  width: 90%;
  text-align: left;
}
/*========ABOUT PAGE =======mobile styles=========*/

.mission {             /*all of about page correct*/
  display: flex;
  justify-content: center;    
  background-color: #527158;
 
}

.contact-section {
  display: flex;
  justify-content: center;
  background-color: #2a423a;

}

.map figure {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 125%;
  overflow: hidden;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-content p {
  margin: 0;
}
/*==========  FAQ page====mobile styles=======*/

.faq {
  display: flex;
  justify-content: center;
  background-color: #527158;
  color: white;

}

.faq .content-wrapper {    /*all correct for faq page*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  margin: 50px 0 0 0; 
}

.faq h2 {
  margin-bottom: 40px;
  line-height: 1;
}

.faq-content {
  margin-bottom: 50px;  
}

.faq-content h4 {
  line-height: 1.333;
}

/*----go to 379 for tablet and desktop----end of mobile styles-----*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/*correct*/
@media screen and (min-width: 768px) {
  /* Tablet styles here */
  /*General Styles */

  .content-wrapper {   /*correct*/
  max-width: 640px;
  margin: 100px 0; /*correct*/
}
/*correct*/
h2 {
  font-size: 2.35em;
  line-height: 1.333;
}
/*correct*/
h3 {
  font-size: 1.5em;
  line-height: 1.25;
}
/*correct*/
  /* Header Tablet*/

header {   /*correct*/
  padding: 33px 0;
}
/*correct*/
header .content-wrapper {   /*correct*/
  width: 100%;
  justify-content: space-between;
}
/*correct*/
header figure {
  width: 30%;
}
/*correct*/
header nav {   /*correct*/
  width: 20%;
}
/*correct*/
header nav ul {   /*correct*/
  justify-content: space-between;

}
/*correct*/
.header-divider {   /*correct*/
  display: none;
}

/*Hero Area*/
/*correct*/
.hero-area {
  min-height: 600px;
}
/*correct*/
.hero-area h1 {
  font-size: 3em;
  line-height: 1;
  margin: 0;
}

/* Aside for home tablet*/
/*correct*/
aside .content-wrapper {   /*correct*/
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;

}

aside .content-wrapper .form-description,
aside .content-wrapper .form {
  width: 40%;    /*correct*/
  margin: 0;

}

/* Features for home for tablet*/
/*correct*/
.features h2 {
  margin-bottom: 20px;
}
/*correct*/
.features article {    /*correct*/
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  flex-basis: 50%;
  
}
/*correct*/
.features .features-item-description {   /*correct*/
  width: 62%;
}

/*Reviews for tablet==================== */

.reviews article {   /*correct*/
  display: flex;
  justify-content: space-between;
  
}

.reviews h2 { /*correct in sol code*/
  width: 85%;
}

.reviews article figure,
.reviews article div {   /*correct*/
  width: 49%;
}

.reviews h3 {  /*correct in sol code*/
  width: 75%;
  margin: 0;
}


/*Footer for tablet=======================*/

footer .content-wrapper {  /*code correct*/
  width: 65%;
}

footer .footer-content {   /*correct*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

}
/*correct*/
footer .contact {   /*correct*/
  margin-bottom: 0;
  padding-left: 50px;
}
/*correct*/
footer h4 {
  font-size: 1.5em;
  margin-bottom: 40px;
}
/*correct*/
footer p {
  line-height: 1.285;
}

footer .social-icons { /*from sol code*/
  width: 12.5em;
  justify-content: space-between;
}


/*correct*/
footer .copyright {    /*correct*/
  width: 100%;
}


/*=======ABOUT PAGE==for tablet =============*/

.mission-content {
  display: flex; /*correct*/
  justify-content: space-between; 
  align-items: flex-start;  
  padding-top: 20px; 
}

.mission-content p {
  width: 45%; 
  column-count: 1; /*correct*/
}

/*correct*/
.map figure {
  padding-bottom: 45.5%;
}
/*correct*/
.contact-section .content-wrapper h2 {
  width: 80%; /*correct*/
}
/*correct*/
.contact-content {
  display: flex;    /*correct*/
  justify-content: space-between; 
  align-items: flex-start; 
}

/*correct*/
.contact-content h4 {
  font-size: 1.5em;
}

/*======FAQ PAGE==for tablet=================*/

.faq .content-wrapper {
  justify-content: space-between; /*correct*/

}

.faq-content {   /*correct*/
  flex-basis: 45%; /*from instruction*/
}

.faq h2 {    /*correct*/
  width: 100%;  /*from instruction*/

}
/*correct*/
.faq h4,
.faq p {
  font-size: .875em;
  line-height: 1.125;

}

} /*end of media query curly cue*/

   /* end of Tablet code==================*/


@media screen and (min-width: 1200px) {
  /* Desktop styles here*/
/* Header styles */

.content-wrapper {  /*correct*/
  max-width: 960px;
}
/*correct*/
header {     /*correct*/
  padding: 15px 0;
}
/*correct*/
h2 {
  font-size: 2.25em;
}
/*correct*/
h3,
h4 {
  font-size: 1.875em;
}
/*correct*/
p {
  font-size: 1.125em;
  line-height: 1.333;
}

/* HERO for Desktop*/

.hero-area h1 {   /* correct*/
  width: 80%;
  font-size: 3.75em;
}

/*ASIDE for desktop*/
aside .content-wrapper {   /* correct*/
  justify-content: space-around;
}

/*correct*/
aside .content-wrapper .form-description,
aside .content-wrapper .form {   /* correct*/
  width: 40%;
}

/* FEATURES*/

.features h2 {   /* correct*/
  width: 90%;
}

.features article {   /* correct*/
  flex-basis: 33%;
}

/*REVIEWS for desktop*/   /* correct*/
.reviews article div {
  width: 42%;
}

.reviews h2 {
  padding-bottom: 50px;
}

footer h4 {
  font-size: 1.875em;

}



/*======ABOUT PAGE===for desktop======*/
/*correct*/
.map figure {
  padding-bottom: 37.5%;
}

.mission h2,   
.contact-section .content-wrapper h2 {   /* correct*/
  width: 95%;
  font-size: 3em;
}

/*correct*/
.contact-content h4 {
  font-size: 1.875em;
}


/*======FAQ==for desktop===========*/
.faq h2 {    /* correct*/
  width: 100%;
  font-size: 3em;
}
/*correct*/
.faq h4,
.faq p {
  font-size: 1.125em;
  line-height: 1;
}

}  /*end of media curly cue*/

/* END OF AUTHORS CODE */


@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}





