/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/* !!!AUTHORS CODE STARTS ON LINE 95!!!! MARGARET FERRY
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 16px;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*==The reason you want to add your global styles at the top of the 
stylesheet is that if you need to, you can override them further
 down in the document. For example, you may need to specify that
  headers that are linked are not the same color as body text 
  that is linked.*/

/* GLOBAL STYLES */

html {
  font-size: 16px; /*lesson 11 step 1 told to use 16px*/
}
/*Wondering why you should write this style for the
 <body> tag and not the <p> tags? To explain: it’s a
  good idea to put the font-family on the ultimate parent
   tag just in case you have text in <ul> or <li> elements.
    Not everything goes inside a <p> tag, after all.*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background-color: #e2e3ed; /*default background color*/

}

ul,
ol {
  list-style-type: none; /*correct*/

}

a {
  color: #e2e3ed; /*correct*/
  text-decoration: none;
}

h2 {
  font-family: 'Poppins', sans-serif; /*correct*/
  font-size: 1.875em;
}

h3,
h4 {
  font-family: 'Poppins', sans-serif; /*correct*/
  margin: 20px 0;
  font-size: 1.125em;
}

p {
  font-size: .875em; /*correct*/
  line-height: 1.285;
}


address {
  font-style: normal; /*correct*/

}

.content-wrapper {  /*correct*/
  width: 90%;
  margin: 50px 0;

}
/* Coding starts here*/
.content-wrapper {
  outline: 3px dotted red;
  width: 90%;
  margin: 50px 0;
 }

/*  Base Header - Footer Styles for all devices unless over written */

header {   /*this all correct  */
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: #202322;

}

header .content-wrapper { /*correct Mobile styles*/
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  
}

.header-divider {   /*correct*/
  width: 100%; 
  height: 1px;  
  margin: 10px 0 20px 0;  
}

header nav {    /*correct*/
  width: 60%;
  font: 18px;
  font-weight: bold;
 
 }

header nav ul {    /*correct*/
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}

footer {   /*correct*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #202322;
  color: white;
}

footer p {
  margin: 0;  /* correct */
}

footer .content-wrapper {
  width: 55%;

}

footer .contact {   /* correct */
  margin-bottom: 50px;

}

footer .social-icons { /*correct */
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}


footer .social-icons p { /*correct*/
  display: flex;
  justify-content: center;
  align-items: center;
  
}

footer .copyright {  /*correct*/
  margin: 20px 0;
 
}

/* --==--Mobile Styles - Homepage ===============*/

/* HERO AREA correct */
.hero-area {
  display: flex;
  justify-content: center;
}

.hero-area h1 {
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
}

/* ASIDE correct mobile*/

aside {
  display: flex;
  justify-content: center;
  background-color: #527158;
}

/* form-description===*/
aside .form-description h3 {
  font-size: 18px;
  font-weight: 500;
}

aside .form-description p { /*mobile*/
  font-size: 14px;
  line-height: 18px;

}

/* this is for aside form*/
aside .form {
  margin-top: 30px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
  
}

/*done*/

/* features */

.features {   /*correct*/
  display: flex;
  justify-content: center;
  
}

.features h2 {    /*correct*/
  margin-bottom: 60px;
  font-size: 30px;
  font-weight: 500;
}

.features article {  /*correct*/
  width: 63%;
  margin: 30px 0;
}

 .features-items {   /*correct*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.features p {  /*correct*/
  margin: 0;
}

article .fontawesome-icons {
  font-size: 60px; /*style sheet don't know if font-size is correct term*/
} 

article .features-items-description {
  justify-content: center;

}


/*---- reviews ------*/

.reviews {    /*correct*/
  display: flex;
  justify-content: center;
  background-color: #2a423a;
  color: white;
  
}

.reviews h2 {    /*correct*/
  margin-bottom: 40px;  
}
 
.reviews h3 {     /*correct*/
  width: 55%;
  margin: 20px 0;
}
/*========ABOUT PAGE =======mobile styles=========*/

.mission {             /*all of about page correct*/
  display: flex;
  justify-content: center;
  background-color: #527158;
  color: white;
}

.mission h2 {
  font-size: 1.6875em; 
  font-weight: 500;
}

.mission-content p {
  font-size: .875em;
}

.contact-section {
  display: flex;
  justify-content: center;
  background-color: #2a423a;
  color: white;
}


.contact-content p {
  margin: 0;
}
/*==========  FAQ page====mobile styles=======*/

.faq {
  display: flex;
  justify-content: center;
  background-color: #527158;
  color: white;

}

.faq .content-wrapper {    /*all correct for faq page*/
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  margin: 50px 0 0 0; 
}

.faq h2 {
  margin-bottom: 40px;
  line-height: 1;
}

.faq-content {
  margin-bottom: 50px;  
}

.faq-content h4 {
  line-height: 1.333;
}

/*----go to 379 for tablet and desktop----end of mobile styles-----*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 768px) {
  /* Tablet styles here */
  /*General Styles */

  .content-wrapper {   /*correct*/
  max-width: 640px;
  margin: 100px 0;
}

  /* Header Tablet*/

header {   /*correct*/
  padding: 33px 0;
}

header .content-wrapper {   /*correct*/
  width: 100%;
  justify-content: space-between;
}

header nav {   /*correct*/
  width: 20%;
}

header nav ul {   /*correct*/
  justify-content: space-between;

}

.header-divider {   /*correct*/
  display: none;
}

/*Hero Area*/

/* Aside for home tablet*/

aside .content-wrapper {   /*correct*/
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;

}

aside .content-wrapper .form-description,
aside .content-wrapper .form {
  width: 40%;    /*correct*/
  margin: 0;

}

/* Features for home for tablet*/

.features article {    /*correct*/
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  flex-basis: 50%;
 /* text-align: center; not in solution */
  
}

.features .features-item-description {   /*correct*/
  width: 62%;
}

/*Reviews for tablet==================== */

.reviews article {   /*correct*/
  display: flex;
  justify-content: space-between;
  
}

.reviews article div {   /*correct*/
  width: 49%;
}

/*Footer for tablet=======================*/

footer .content-wrapper {  /*code commented out*/
  width: 65%;
 /* margin: 100px 0; not in solution */

}

.footer-content {   /*correct*/
  display: flex;
  justify-content: space-between;
  align-items: center;

}

footer .contact {   /*correct*/
  margin-bottom: 0;

}

footer .copyright {    /*correct*/
  width: 100%;
}


/*=======ABOUT PAGE==for tablet =============*/

.mission-content {
  display: flex; /*correct*/
  justify-content: space-between; 
  align-items: flex-start;  
  padding-top: 20px; 
}

.mission-content p {
  width: 45%;  /*correct*/
}

.contact-section .content-wrapper h2 {
  width: 80%; /*correct*/
}

.contact-content {
  display: flex;    /*correct*/
  justify-content: space-between; 
  align-items: flex-start; 
}

/*======FAQ PAGE==for tablet=================*/

.faq .content-wrapper {
  justify-content: space-between; /*correct*/

}

.faq-content {   /*correct*/
  flex-basis: 45%; /*from instruction*/
}

.faq h2 {    /*correct*/
  width: 100%;  /*from instruction*/

}


}    /* end of Tablet code==================*/


@media screen and (min-width: 1200px) {
  /* Desktop styles here*/
/* Header styles */

.content-wrapper {  /*correct*/
  max-width: 960px;
}

header {     /*correct*/
  padding: 15px 0;
}



/* HERO for Desktop*/

.hero-area h1 {   /* correct*/
  width: 80%;
}

/*ASIDE for desktop*/
aside .content-wrapper {   /* correct*/
  justify-content: space-around;
}


aside .content-wrapper .form-description,
aside .content-wrapper .form {   /* correct*/
  width: 30%;
}

/* FEATURES*/

.features h2 {   /* correct*/
  width: 90%;
}

.features article {   /* correct*/
  flex-basis: 33%;
}

/*REVIEWS for desktop*/   /* correct*/
.reviews article div {
  width: 42%;
}

/*======ABOUT PAGE===for desktop======*/

.mission h2,   
.contact-section .content-wrapper h2 {   /* correct*/
  width: 95%;
}

/*======FAQ==for desktop===========*/
.faq h2 {    /* correct*/
  width: 100%;

}



}

/* END OF AUTHOR SCODE */
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}





